<div class="row header">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <img src="nba.png">
    <h3>NBA All-Access</h3>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-1">
    <a href="/">
      <h4>Home</h4>
    </a>
  </div>
  <div class="col-md-1">
    <a href="/saved">
      <h4>Saved</h4>
    </a>
  </div>
  <div class="col-md-2">
  </div>

</div>
<h3 style="text-align: center; padding: 20px;">Your Saved Articles</h3>
<div class="container">
  <div id="accordion">
    {{#each dbArticle}}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button data-id="{{this.link}}" class="btn btn-link getSummary" data-toggle="collapse" data-target="#{{this._id}}" aria-expanded="true" aria-controls="collapseOne">
            {{this.title}}
          </button>
        </h5>
        <button data-toggle="modal" data-target="#myModal" class="btn btn-success note" data-id="{{this._id}}">Add a Note</button>
        <button class="btn btn-danger remove" data-item="{{this._id}}">Remove From Saved</button>
      </div>

      <div id="{{this._id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <a href="{{this.link}}">View the article here</a>
          <div class="summaryArea"></div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>



<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Your Notes</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 id="modalNote"></h5>
        <textarea id="inputNote" type="text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="noteDelete" data-dismiss="modal" class="btn btn-primary">Delete Note</button>
        <button type="button" id="modalSubmit" data-dismiss="modal" class="btn btn-primary">Save Note</button>
      </div>
    </div>
  </div>
</div>