
 

<div id="header" class="row">
  <div class="col-md-2">
    NBA Articles
  </div>
  <div class="col-md-1">
    <a href="/">Home</a>
  </div>
  <div class="col-md-1">
    <a href="/saved">Saved Articles</a>
  </div>
  <div class="col-md-1">
    <button id="scrape" class="btn btn-large btn-danger">Scrape Articles</button>
  </div>
</div>
<div class="row" id="background">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3>Articles about the NBA from SB Nation</h3>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="container">
  <div class="row">
    <ul>Articles
      {{#each dbArticle}}
      <li>
        {{this.title}} 
        <button data-toggle="modal" data-target="#myModal" class="btn btn-success note" id="{{this._id}}">Add a Note</button> <button class="btn btn-danger remove" id="{{this._id}}">Remove From Saved</button><br>
        <a href="{{this.link}}">View the article here</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{note}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea id="inputNote" type="text"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" id="modalSubmit" class="btn btn-primary">Save Note</button>
        </div>
      </div>
    </div>
  </div> 